<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="webchat.dao.UserDao">
	<resultMap type="webchat.model.User" id="UserMap">
		<id column="u_id" property="UserId" jdbcType="INTEGER"/>
		<result column="u_name" property="UserName" jdbcType="VARCHAR"/>
		<result column="u_password" property="UserPass" jdbcType="VARCHAR"/>
		<result column="u_email" property="UserEmail" jdbcType="VARCHAR"/>
		<result column="u_livestate" property="UserState" jdbcType="INTEGER"/>
	</resultMap>
	<select id="login" resultMap="UserMap" parameterType="java.lang.String">
		select distinct *
		from tb_user
		where u_name = #{User} and u_password = #{UserPass}
		or u_email = #{User} and u_password = #{UserPass}
	</select>
	<insert id="register" parameterType="java.lang.String">
		insert into tb_user (u_name,u_password,u_email)
		value
		(#{UserName},#{Password},#{UserEmail})
	</insert>
</mapper>